.mx-camerastream {
    position: relative;
}

.mx-camerastream > video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.camera-content-overlay {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.camera-align-top {
    top: 0;
    align-items: flex-start;
    padding-top: 10px;
}

.camera-align-middle {
    top: 0;
    height: 100%;
    align-items: center;
}

.camera-align-bottom {
    bottom: 0;
    align-items: flex-end;
    padding-bottom: 10px;
}

.camera-recording-indicator {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.recording-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
